<?xml version="1.0" encoding="UTF-8"?>
<Root>
	<!-- 処理タイプを選択 -->
	<!-- type=download:	物理データをダウンロードする -->
	<!-- type=html:		論理リンクデータをhtmlとして保存する -->
	<!-- type=upload:	ステータスが"Downloaded"のContentをアップロードする -->
	<Process type="html" />

	<!-- 処理範囲を選択 -->
	<!-- mode=1: GalleryのページFrom-Toを指定しダウンロード -->
	<!-- mode=2: GalleryのTagおよびページFrom-Toを指定しダウンロード -->
	<!-- mode=3: GalleryのParodyおよびページFrom-Toを指定しダウンロード -->
	<!-- mode=4: 作品IDを指定しダウンロード -->
	<ProcessConfig mode="1" from="" to="" str="" />

	<!-- すぐにアップロードするか選択 -->
	<!-- mode=1: アップロードする -->
	<!-- mode=0: アップロードしない -->
	<ContinueUpload mode="1" />
</Root>
